### File

In [2]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Q1 Create Empty Dictionary

In [3]:
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

### Q2 Create dictionary with student as key and name as value

In [9]:
d ={1:"aditya",2:"akash",3:"vivek"}
print(d)

{1: 'aditya', 2: 'akash', 3: 'vivek'}

### Q3 Create dictionary with different data types in keys

In [10]:
d ={1:"aditya",'a':"akash",'$':"vivek"}
print(d)

{1: 'aditya', 'a': 'akash', '$': 'vivek'}

### Q4 and Q5 Adding a element into dictionary and Updating

In [25]:
d ={1:"aditya",2:"akash",3:"vivek"}
print(d)
d[1] = "anmol"
d[4] = "vinay" 
d[5] = "Vishal"
print(d.items())

{1: 'aditya', 2: 'akash', 3: 'vivek'}
dict_items([(1, 'anmol'), (2, 'akash'), (3, 'vivek'), (4, 'vinay'), (5, 'Vishal')])

### Q6 Deleting a dictionary

In [24]:
dd ={1:"a",2:"b",3:"c"}
dd.clear()
print(dd)

{}

### Q10 print key value pairs in seperate lines

In [26]:
d ={1:"aditya",2:"akash",3:"vivek"}
for key,value in d.items():
    print(key, value)

1 aditya
2 akash
3 vivek

### Q11 concatenate two dictionaries

In [29]:
d1={"A":1,"B":2}
d2={"C":3,"D":4}
d3={}
for items in (d1,d2):
    d3.update(items)
    print(d3)

{'A': 1, 'B': 2}
{'A': 1, 'B': 2, 'C': 3, 'D': 4}

### Q12 Nested Dictionary

In [31]:
d1={1:"A",2:"B",3:[11,12,13,14], 4:(15,16),5:{'a':20,'b':30}}
print(d1[5]['a'])

20

### Q13 Table of 5

In [32]:
d=dict()
for value in range(1,5):
    d[value]=value*5
print(d)

{1: 5, 2: 10, 3: 15, 4: 20}

### Q14 Square

In [34]:
d=dict()
for x in range(1,5):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

### Q15 Value of sum

In [35]:
sum =0
for key,value in d.items():
    sum = sum+ value
print(sum)

30

### Q16 Factorial

In [42]:
d=dict()
value =1
for key in range(1,8):
    value=value*key
    d[key]=value
print(d)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040}